
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="ml-3 mr-3">
    <div class="row">
        <div class="col-md-12">   <table class="table table-borderd"> 
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Date</th>
                    <th>Value</th>
                    <th>ToMoibileNumber</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Data">
                    <td>{{item.userID}}</td>
                    <td>{{item.date | date}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.toMoibileNumber}}</td>          
                </tr>
            </tbody>
        </table> </div>
    </div>
</div>